.profile {
    display: flex;
    max-width: 880px;
    margin: 0 auto;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .profile {
        max-width: 580px;
    }
}

@media (max-width: 660px) {
    .profile {
        flex-direction: column;
    }
}