.header {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 45px;
    min-height: 73px;
    border-bottom: 1px solid #545454;
    margin-bottom: 0;
    opacity: 0.7;
}

@media (max-width: 900px) {
    .header {
        max-width: 580px;
    }
}

@media (max-width: 600px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
        min-height: 54px;
    }
}