.profile__description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 16px;
}

@media (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        text-align: center;
        width: 282px;
    }
}