.elements__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 51px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 880px;
    margin: 51px auto 0;
}

@media (max-width: 900px) {
    .elements__list {
        justify-content: space-around;
        max-width: 581px;
    }
}

@media (max-width: 660px) {
    .elements__list {
        margin-top: 36px;
    }
}

@media (max-width: 580px) {
    .elements__list {
        max-width: 282px;
    }
}